body{
    background-color: aqua;
    margin: 0;
}

header{
    background-color: purple;
}

.banner{
    background-color: pink;
    padding: 15%;
    text-align: center;
}

main{
    background-color: red;
    padding: 50px;
}

section{
    background-color: burlywood;
}

section ul {
    text-align: center;
    background-color: darkcyan;
    list-style: none;
    padding: 0;
    font-size: 0px;
}

.boxes ul li{
    background-color: magenta;
    padding: 20% 0%;
    font-size: 16px;
    display: inline-block;
    width: 30%;
    margin: 0% 1%;
}

.stripes ul li{
    background-color: turquoise;
    font-size: 16px;
    display: block;
    padding: 5% 5%;
    margin: 10px 0px;
    text-align: left;
}

footer{
    background-color: limegreen;
    padding: 30px 0px;
}

nav{
    background-color: orange;
}

nav ul {
    background-color: yellow;
    list-style: none;
    padding: 0px;
    font-size: 0px;
}

nav ul li {
    background-color: cornflowerblue;
    text-align: center;
    padding: 25px 0px;
    display: inline-block;
    font-size: 16px;
    width: 25%;
}