body{
    background-color: aqua;
    margin: 0;
}

header{
    background-color: purple;
}

.banner{
    background-color: pink;
    padding: 15%;
    text-align: center;
}

main{
    background-color: red;
    padding: 50px;
}

section{
    background-color: burlywood;
}

footer{
    background-color: limegreen;
    padding: 30px 0px;
}

nav{
    background-color: orange;
}

nav ul {
    background-color: yellow;
    list-style: none;
    padding: 0px;
    font-size: 0px;
}

nav ul li {
    background-color: cornflowerblue;
    text-align: center;
    padding: 25px 0px;
    display: inline-block;
    font-size: 16px;
    width: 25%;
}