*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color: purple;
    background-repeat: no-repeat;
    background-size: cover;
}

.homePage header{
    background-image: url('spaceImage.jpg');
}

.page1 header{
    background-image: url('city.jpeg');
}

.page2 header{
    background-image: url('landscape.jpg');
}

.page3 header{
    background-image: url('whatCodingLooksLikeToPeopleWhoDoNotCode.jpg');
}

.banner{
    background: rgba(0,0,0,0.5);
    padding: 15%;
}

.banner h1{
    color: white;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0px;
    font-size: 0px;
}

nav{
    background-color: orange;
}

nav ul {
    background-color: yellow;
}

nav ul li {
    background-color: cornflowerblue;
    display: inline-block;
    text-align: center;
    width: 25%;
}

main{
    background-color: red;
    padding: 0px;
}

.homePage main{
    padding: 50px;
}

section{
    background-color: burlywood;
}

section ul {
    text-align: center;
    background-color: darkcyan;
}

.boxes ul li{
    background-color: magenta;
    font-size: 16px;
    display: inline-block;
    width: 33.333%;
}

.boxes ul li button{
    padding: 70% 0%;
}

.stripes ul li{
    background-color: turquoise;
    font-size: 16px;
    display: block;
}

.stripes ul li button{
    padding: 5% 5%;
    text-align: left;
}

.stripesAlt ul li{
    background-color: brown;
    font-size: 16px;
    display: block;
    text-align: left;
    padding: 20% 5%;
}

footer{
    background-color: limegreen;
    padding: 30px 20px;
}

button{
    border: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.leftSwipeButton{
    background-image: linear-gradient(to right, transparent 50%, lightgrey 50%);
    background-size: 200%;
    background-position: 100%;
}

.leftSwipeButton:hover{
    color: white;
    background-position: 0%;
}

.downSwipeButton{
    background-image: linear-gradient(to bottom, transparent 50%, lightgrey 50%);
    background-size: 100% 200%;
    background-position: 0% 100%;
}

.downSwipeButton:hover{
    color: white;
    background-position: 100% 0%;
}

.fadeButton{
    background-color: lightgrey;
    padding: 25px 0px;
}

.fadeButton:hover{
    color: white;
    background-color: black;
}